<button (click)="showData()">GETDATA</button>
<button (click)="add()">PUTDATA</button>

<div *ngIf="userData.length > 0">
    
    <div>
      <table border="1">
        <tr>
          <th>Company Name</th>
          <th>Country</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Unit Name</th>
          <th>Total Price</th>
          <th>Action</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let unit of userData; let i = index" >
          <td>{{ unit.company_name }}</td>
          <td>{{ unit.country }}</td>
          <td>{{ unit.street }}</td>
          <td>{{ unit.city }}</td>
          <td>{{ unit.state }}</td>
          <td>
            <ul>
              <li *ngFor="let data of unit.units">{{ data.unit_name }}</li>
              
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let data of unit.units">{{ data.total_price }}</li>
            </ul>
          </td>

          <td><button (click)="editData(unit.company_id)">Edit</button> </td>
          
          <td><button (click)="deleteData(unit.company_id)" >Delete</button> </td> 
          
        </tr>
      </table>
    </div>
  </div>